.thisMe {
  justify-content: center;
  font-family: "Titillium Web", sans-serif;
  color: black;
}

#email {
  justify-content: center;
  font-family: "Titillium Web", sans-serif;
  color: black;
  text-decoration: underline;
}

.pic {
  justify-content: center;
  align-items: center;
}
.abPic {
  height: 300px;
  width: 300x;
  border: solid 5px #e03a3e;
  padding: 3px;
}
