html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

.wave-container {
  background: #e03a3e;
}
.wave-container > svg {
  display: block;
}
.navbar {
  background-color: #e03a3e;
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.nav-link {
  color: black;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
}

.nav-link:hover {
  color: white;
}

.namePlate {
  font-family: "Amatic SC", cursive;
  color: black;
  font-size: 70px;
  /* float: none; */
  justify-content: center;
}

.namePlate1 {
  font-family: "Amatic SC", cursive;
  color: black;
  font-size: 70px;
  /* float: none; */
  justify-content: center;
}

.namePlate:hover {
  color: white;
}

.tagLine {
  justify-content: center;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  text-align: center;
}

/* .meat {
    margin-right: 0px;
    margin-left: 0px;
} */

.thisMe {
  justify-content: center;
  font-family: "Titillium Web", sans-serif;
}
.pic {
  justify-content: center;
  align-items: center;
}
.abPic {
  height: 300px;
  width: 300x;
  border: solid 5px #e03a3e;
  padding: 3px;
}

.footer {
  text-align: center;
  background-color: #e03a3e;
  color: #000000;
  /* margin-top: 10px; */
  padding: 10px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: solid 2px #000000;
  height: 2.5rem;
  font-family: "Amatic SC", cursive;
}

.foot-link {
  color: #553827;
}

.foot-link:hover {
  color: white;
}

.fab {
  padding: 2px;
}

#email {
  text-decoration: underline;
  font-weight: bold;
}

.header {
    justify-content: center;
    font-family: "Amatic SC", cursive;
    text-decoration: underline;
    font-weight: bold;
}

#navPro {
  border-bottom: solid 3px black;
}

iframe {
  padding-top: 10px;
}
