.wave-container {
  background: #e03a3e;
}
.wave-container > svg {
  display: block;
}

.namePlate {
  font-family: "Amatic SC", cursive;
  color: black;
  font-size: 70px;
  /* float: none; */
  justify-content: center;
}

.tagLine {
  justify-content: center;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  text-align: center;
}

.links {
  justify-content: center;
}

.link {
  color: black;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  text-decoration: underline;
  padding-right: 10px;
}

.link:hover {
  color: white;
}